# Rendered by deploy/ansible/harden.yml; the 10- prefix sorts before 50-cloud-init.conf (sshd takes the first value seen)
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PermitEmptyPasswords no
PermitRootLogin prohibit-password
UsePAM yes
MaxAuthTries 3
LoginGraceTime 20
X11Forwarding no
{% if ssh_allow_users | length > 0 %}
AllowUsers {{ ssh_allow_users | join(' ') }}
{% endif %}
