**/dist
**/node_modules
**/.turbo
**/routeTree.gen.ts
**/resources.d.ts
packages/api-client/src/generated
packages/api-client/openapi.json
pnpm-lock.yaml
**/.ruff_cache
**/.import_linter_cache
**/playwright-report
**/test-results

**/locales/**/*.json

apps/api
deploy

apps/web/index.html
apps/admin/index.html
